<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">About Component</div>
    <div class="panel-body">
          <div class="panel-body">
                  <h4>Infos</h4>
                  <ul class="list-group">
                      <li class="list-group-item">Nom: {{ info.nom }}</li>
                      <li class="list-group-item">Email: {{info.email}}</li>
                      <li class="list-group-item">Telepone: {{info.tel}}</li>
                   </ul>

          </div>
          <div>
            <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
              <div class="form-group">
                <label class="custom-control-label">message</label>
                <input name="message" [(ngModel)]="commentaire.message" type="text">
                <button [disabled]="!commentaire.message" class="btn btn-primary" type="submit">ajouter</button>
              </div>
            </form>
            <h4>Commentaires</h4>
            <ul class="list-group">
              <li *ngFor="let c of comments" class="list-group-item">Message:{{c.message}}
                                     <span class="badge">date:{{c.date| date:'dd/MM/yyyy hh:mm:ss'}}</span>
              </li>

            </ul>
          </div>
    </div>
  </div>
</div>



