<div class="container">
   <div class="panel panel-primary">
     <div class="panel-heading">Contacts component</div>
     <div class="panel-body">
       <h4>Contact</h4>
       <ul class="list-group">
          <li class="list-group-item"><span class="badge-pill badge-primary">Nom:</span><strong>Med El Moustapha</strong></li>
         <li class="list-group-item"><span class="badge-pill badge-primary">Github: </span> https://github.com/medmoustapha</li>
         <li class="list-group-item"><span class="badge-pill badge-secondary">Linkedin:</span><strong> Med El Moustapha Bebah</strong></li>
         <li class="list-group-item"><span class="badge-pill badge-primary">Telephone:</span><strong>0021656324195</strong></li>
         <li class="list-group-item"><span class="badge-pill badge-secondary">Adress:</span> route tuis km 1.5 sfax</li>

       </ul>
     </div>
   </div>
</div>
